* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  background-color: #000;
}
button {
  width: 20%;
  height: 15%;
  background: #3dbb3d;
  border: black;
  margin: 2em;
  padding: 10px;
}
img {
  width: 34px;
  height: 34px;
  align-self: center;
  margin-right: 1em;
}
.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: #119da4;
  color: white;
  margin-left: 1em;
}

/* Homepage ********************************************* */
#homepage {
  padding: 2em;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#home-h1-container {
  display: flex;
  padding: 1em;
  justify-content: center;
}
#homepage h1 {
  color: #c1edcc;
}
#intro {
  color: #c1edcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1em;
  font-size: 18px;
}
#intro p {
  padding: 0.7em;
}

 #help-button-container {
  display: flex;
  flex-direction: column;
}
#help-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#help-button {
  background: #119da4;
  width: 30%;
  height: 3em;
}
#help-button button {
  align-self: center;
}
#button-container {
  display: flex;
  justify-content: center;
}

/* Instructions ********************************************* */
#instructions {
  background-color: #104547;
  border: solid 1pt #119da4;
  padding: 1em;
}
#instructions p {
  color: #c8c8c8;
  padding-bottom: 1em;
}
#instructions h2 {
  color: #c8c8c8;
  padding-bottom: 0.5em;
}

/* Join/Start ********************************************* */
#avatar-options-container {
  color: #c8c8c8;
}
#avatar-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#avatar-options-container p {
  padding: 1em;
}
img.avatar:hover {
  border: 1.5pt solid #119da4;
  border-radius: 10px;
}
#avatar-button:active {
  border: 1.5pt solid #119da4;
  border-radius: 10px;
}

/* Chat ************************************************** */
#outer-container {
  background-color: #000;
}
#chat-container {
  color: #c8c8c8;
}
#flex-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #000;
  padding: 0.5em;
}
#avatar {
  size: 30px;
}

#emoji {
  padding: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  background: #000;
}
#emoji-img {
  width: 34px;
  height: 34px;
  margin-right: 0;
  margin-left: 1em;
  align-self: center;
}
#chat-header {
  padding: 0.3em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
#chat-container h3 {
  padding-top: 0;
  padding-bottom: 0.5em;
  flex-wrap: wrap;
}
#chat-container strong {
  flex-wrap: wrap;
}
#chat-form {
  background: #000;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 85%;
  margin-left: 5em;
  display: flex;
}
#chat-form input {
  border: 1pt solid #3c3c3c;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  background-color: #1e1e1e;
  color: #c8c8c8;
  margin: 1.5em;
}
.scroll-to-bottom {
  height: 600;
  width: 400;
}
form button {
  width: 18%;
  background: #3dbb3d;
  border: none;
  padding: 10px;
  align-self: center;
}
#button-container button {
  height: 4em;
  width: 150%;
}
#messages {
  color: #c8c8c8;
  list-style-type: none;
  margin: 0.5;
  margin-top: 100px;
  margin-bottom: 125px;
  height: 50%;
}
#messages li {
  padding: 5px 10px;
  overflow: auto;
  display: flex;
  font-size: 15px;
}
#messages li:nth-child(odd) {
  background: #3c3c3c;
  color: #c8c8c8;
  display: flex;
}
#message-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
#drinking-game {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}
#take-a-drink img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.popup {
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#popup-form label {
  color: #c8c8c8;
  padding: 10px;
}
#popup-form input {
  border: 1pt solid #3c3c3c;
  padding: 10px;
  width: 100%;
  margin-right: 1%;
  margin-bottom: 2em;
  background-color: #1e1e1e;
  color: #c8c8c8;
}
#popup-form button {
  width: 30%;
  height: 25%;
  background: #3dbb3d;
  border: black;
  margin: 2em;
  padding: 10px;
}
#drink-icon {
  width: 34px;
  height: 34px;
  align-self: center;
  margin-right: 1em;
  position: relative;
}
#edit-user-form {
  background-color: white;
  justify-content: center;
}
#username-container input {
  width: 100%;
  height: 2.5em;
  background-color: #fff;
  color: black;
}
.header {
  color: black;
  justify-content: center;
  padding: 1em;
  text-align: center;
  font-size: 15px;
}
#avatar-options-container {
  text-align: center;
  flex-wrap: wrap;
}
#avatar-options {
  margin-left: 3em;
  margin-right: 3em;
  justify-self: center;
  padding: 1em;
}
#current-avatar {
  width: 6em;
  height: 6em;
  padding: 1em;
  align-content: center;
}
#popup-chat {
  width: 12px;
  height: 12px;
  /* align-self: center; */
  margin-right: 1em;
  padding: 1em;
  position: sticky;
}
#popup-chat img{ 
  width: 18px;
  height: 18px;
} 
#user-edit-save {
  width: 90%;
}
p {
  margin-bottom: 1em;
  text-align: center;
}
#copy-to-clipboard {
  width: 10em;
  height: 10%;
  background: #3dbb3d;
  border: black;
  margin: 0.5em;
  padding: 2px;
}

/* @group Blink */
.blink {
  -webkit-animation: blink 0.75s linear 4;
  -moz-animation: blink 0.75s linear 4;
  -ms-animation: blink 0.75s linear 4;
  -o-animation: blink 0.75s linear 4;
  animation: blink 0.75s linear 4;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* @end */
